header {
  width: 100%;
  border: solid 1px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
  margin: auto;
  text-align: center;
  font-size: 40px;
  background-color: black;
  color: #990099;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  background-image: url("http://previews.123rf.com/images/renomartin/renomartin1402/renomartin140200004/26897272-Retro-Vintage-Robot-Heads--Stock-Vector.jpg");
  background-size: contain;
}

.main_title {
  border: solid 1px;
  width: 225px;
  margin: auto;
  top: 20px;
  position: relative;
  background-color: white;
  border-radius: 5px;
}
