<div class="form_header">Edit Product</div>

<%= render 'form' %>

<br>
<button class="form_link"><%= link_to 'Show', @product %></button>
<button class="form_link"><%= link_to 'Back', products_path %></button>
